@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');

/* RESETS */ 

a:link {
    color: inherit; /* no blue default link color */ 
    text-decoration: none;
}

a:visited {
    color: inherit; /* no purple visited links */ 
}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* GLOBAL */ 

/* MOBILE FLEX CONTAINER COLUMN */ 
body {
    font-family: 'montserrat', sans-serif;
    font-weight: 500, 700;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
}

/* MOBILE FLEX CONTAINER ROW */ 
img {
    display: flex; 
    flex-direction: row;
    max-width: 100%;
    height: auto; /* auto-adjusts height based on content */ 
    border-radius: 16px;
    border-bottom-left-radius: 0; /* new: removes border radius on one side */ 
    border-bottom-right-radius: 0; 
}

section {
    background-color: hsl(0, 0%, 100%);
    border-radius: 16px;
    margin: 20px 10px;
    height: auto;
    padding-bottom: 5px;
}

/*  END OF GLOBAL */ 

h1 {
    text-transform: uppercase; /* new */ 
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    letter-spacing: .5rem; /* new */ 
    font-size: 0.8em;
    margin: 30px 20px 10px 30px;
}

h2 {
    font-family: 'fraunces', serif;
    font-weight: 700;
    margin: 10px 20px 20px 30px;
    font-size: 2.3em;
    line-height: 100%;
}

h2:hover { 
    color: hsl(158, 36%, 37%);
}

article a:focus {
   border-radius: 16px;
}

h3 {
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    margin: 0 20px 0 30px ;
    line-height: 150%;
    padding-right: 5px;
    font-size: 1em;
}

/* FLOAT RIGHT */ 
p {
    color: hsl(228, 12%, 48%);
    float: right; /* first time using floats */ 
    margin: 35px 0;
    margin-right: 8em;
}

/* FLOAT LEFT */ 
h4 {
    font-family: 'fraunces', serif;
    font-weight: 700;
    font-size: 2.5em;
    color: hsl(158, 36%, 37%);
    margin: 20px 0;
    margin-left: 30px;
    float: left; /* more correct to use clear: left */ 
}

/* MOBILE FLEX CONTAINER ROW */ 
section a.button  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
    margin: 25px;
    text-align: center;
}

section a.button:hover {
    background-color: hsl(228, 12%, 48%); 
}

h5 {
    color: hsl(0, 0%, 100%);
    font-size: 1em;
    font-weight: 700;
    display: inline-block;
    margin: 20px 5px;
}

section a.button img {
    display: inline-block;
    margin: 20px 5px;
}

footer {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 0.8em;
}

/* DESKTOP */ 

@media screen and (min-width: 426px) {

    body {
        flex-direction: row;
        height: 100svh;
    }

    img {
        width: 50%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 16px;
        float: left;
    }

    section {
        width: 35rem;
    }

    article {
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: 0.6em;
    }

    h2 {
        font-size: 1.9em;
        margin: 10px 40px 20px 30px;
    }

    h3 {
        font-size: 0.82em;
    }

    aside.pricing {
        display: flex; 
        flex-direction: row;
        align-items: center;
    }

    h4 {
        margin: 30px 5px 0 30px; 
        font-size: 1.8em;
    }

    p {
        margin: 30px 20px 0 10px; 
        font-size: 0.7em;
    }

    a.button {
        max-width: 80%;
    }

    h5 {
        font-size: 0.8em;
        margin: 15px 5px;
    }

    section a.button img {
        width: 7%;
        margin: 15px 5px;
    }

}